.box {
  border-radius: 12px;
  padding: 12px 25px;
}

.w-90 {
  width: 90% !important;
}

.material-symbols-outlined {
  font-size: 20px !important;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 6
}

.material-symbols-outlined:hover {
  color: #198754
}